<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]

    #En apache 2.2.16 se podria colocar solo la siguiente linea:
    FallbackResource /index.php
</IfModule>